
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.container {
    width: 460px;
    margin: auto;
}

input {
    width: 100%;
    padding: 8px 16px;
}